# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/

# Environment variables
.env
.env.*

# IDE and editor settings
.vscode/
.idea/
*.swp

# OS specific
.DS_Store
Thumbs.db

# Video/media files (if any)
*.mp4
*.mov


# sample file
main.py